@import "tailwindcss";

@theme {
  --color-bg: #080b0e;
  --color-bg2: #0f1418;
  --color-bg3: #151c22;
  --color-border: #1e2a34;
  --color-green: #00e87a;
  --color-amber: #ffa500;
  --color-red: #ff4c6a;
  --color-blue: #38bdf8;
  --color-muted: #4a6070;
  --color-dim: #2a3a48;
  --color-text: #c8dce8;
  --color-texthi: #eaf4fc;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  --bg: #080b0e;
  --bg2: #0f1418;
  --bg3: #151c22;
  --border: #1e2a34;
  --green: #00e87a;
  --amber: #ffa500;
  --red: #ff4c6a;
  --blue: #38bdf8;
  --muted: #4a6070;
  --dim: #2a3a48;
  --text: #c8dce8;
  --texthi: #eaf4fc;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
  font-family: "JetBrains Mono", monospace;
  font-size: 13px;
}
